<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Filtros</title>

</head>
<body bgcolor="lavender">

<main>

  <input type="range" min="0" max="10" v-model="minimo">

  <ul>
    <li v-for="film in mejoresFilms">{{ film.titulo | alreves }}</li>
  </ul>

  <input type="search" v-model="busqueda" placeholder="Buscar juego">

  <ul>
    <li v-for="film in buscarFilm">{{ film.titulo }}</li>
  </ul>

  <pre>{{ $data }}</pre>

</main>

<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="js/main.js"></script>

</body>
</html>
